<h1>Tokimons Home</h1>
<body>

<p>Quick Links: </p>
  <%= link_to "Tokimons", tokimons_path =%>
  <%= link_to "Create new Tokimon", new_tokimon_path =%> 

  <%= link_to "Trainers", trainers_path =%>
  <%= link_to "Create new Trainer", new_trainer_path =%>

</body>
