<h1 align="center" >Tokimons Home</h1>
<body>

<p>Quick Links: </p>
<div align="center ">
  <%= link_to "Tokimons", tokimons_path =%>
  <%= link_to "Create new Tokimon", new_tokimon_path =%>

  <%= link_to "Trainers", trainers_path =%>
  <%= link_to "Create new Trainer", new_trainer_path =%>
</div>

</body>
